{% extends "base.html" %}
{% block title %}
    Entries — Budget
{% endblock %}
{% block content %}

<body id="page-main">

    <!-- Main content of the page -->
    <main role="main">

        <!-- Header -->
        <header class="py-3 mb-3" id="header" name="header">
            <div class="container">
                <div class="d-flex align-items-center">
                    <!-- Filters & tags dropdowns -->
                    <ul class="nav col-4 ms-1 me-auto">
                            
                        <!-- Entry types dropdown -->
                        <div class="button" id="dropdown-types" name="dropdown-types" title="Types">
                            <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-types" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="23" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/>
                                </svg>
                            </a>

                            <!-- Filters by types name -->
                            <form id="finder-type" name="finder-type" method="GET" action="." role="filter">
                                <input id="input-type" name="input-type" type="hidden" value=""/>
                            </form>
                            <ul class="dropdown-menu text-small shadow" id="list-types" name="list-types">
                                <!-- Loads all types -->
                                <li><a class="dropdown-item" id="button-transactions" name="button-transactions" href=".">Transactions</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item option-type" id="option-type" name="Expense" href="#">Expenses</a></li>
                                <li><a class="dropdown-item option-type" id="option-type" name="Income" href="#">Income</a></li>
                            </ul>
                        </div>

                        <!-- Entry categories dropdown -->
                        <div class="button" id="dropdown-categories" name="dropdown-categories" title="Categories">
                            <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-categories" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="23" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
                                </svg>
                            </a>     
                            <ul class="dropdown-menu pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px text-small shadow">
                                <!-- Searches for category name -->
                                <form class="p-2 mb-2 bg-light border-bottom" id="finder-category-search" name="finder-category-search" method="GET" action="." role="search">
                                    <input class="form-control" id="input-category-search" name="input-category-search" type="search" placeholder="Search category" autocomplete="false">
                                </form>
                                <!-- Filters by category name -->
                                <form id="finder-category" name="finder-category" method="GET" action="." role="filter">
                                    <input id="input-category" name="input-category" type="hidden" value=""/>
                                </form>
                                <ul class="list-unstyled mb-0" id="list-categories" name="list-categories">
                                    <!-- Loads all categories -->
                                    {% for category in categories_expenses %}
                                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2 option-category" id="option-category" name="{{ category.name }}" href="#">
                                            {{ category.logo }}&nbsp;&nbsp;&nbsp;{{ category.name }}
                                        </a></li>
                                    {% endfor %}
                                    <li><hr class="dropdown-divider"></li>
                                    {% for category in categories_income %}
                                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2 option-category" id="option-category" name="{{ category.name }}" href="#">
                                            {{ category.logo }}&nbsp;&nbsp;&nbsp;{{ category.name }}
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            </ul>
                        </div>
                        
                        <!-- Advanced filter menu -->
                        <div class="button" id="show-finder" name="show-finder" data-bs-toggle="window-finder" data-bs-target="#window-finder" title="Advanced filter"> 
                            <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-filter" href="#" data-bs-toggle="offcanvas" data-bs-target="#window-finder" aria-expanded="false">
                                <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="22" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                                </svg>
                            </a>
                        </div>
                    </ul>

                    <!-- Search bar -->
                    <form class="nav col-6 col-lg-4 me-3" id="search-bar" name="search-bar" method="GET" action="." role="search" onsubmit="rememberSearchQuery();">
                        <input class="form-control form-control-suggestions" id="input-search" name="input-search" type="search" data-provide="typeahead" placeholder="Search" aria-label="Search">
                    </form>
                    
                    <!-- Settings dropdown -->
                    <div class="nav col-auto" title="Options">
                        <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-settings" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="22" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                            <li><a class="dropdown-item" href="/account">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- Advanced filter offcanvas -->
        <div class="offcanvas offcanvas-start" id="window-finder" name="window-finder" tabindex="-1">
            <form id="finder" name="finder" method="GET" action="." role="filter" onsubmit="rememberDateQuery();">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel">Advanced filter</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <!-- Filters by type -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="selection-type-advanced">Type</label>
                        <input id="input-type-advanced" name="input-type-advanced" type="hidden" value="All"/>
                        <select class="form-select" id="selection-type-advanced" form="finder">
                            <option id="option-type-advanced" name="option-type-advanced" value="All">Expenses & Income</option>
                            {% for type in types %}
                                <option id="option-type-advanced" name="option-type-advanced" value="{{ type.name }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Filters by category -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="selection-category-advanced">Category</label>
                        <input id="input-category-advanced" name="input-category-advanced" type="hidden" value="All"/>
                        <select class="form-select" id="selection-category-advanced" form="finder">
                            <option class="option-custom-all" id="option-category-advanced" name="option-category-advanced" value="All">🏷&nbsp;&nbsp;All</option>
                            {% for category in categories_expenses %}
                                <option class="option-custom-expense" id="option-category-advanced" name="option-category-advanced" value="{{ category.name }}" disabled>{{ category.logo }}&nbsp;&nbsp;{{ category.name }}</option>
                            {% endfor %}
                            {% for category in categories_income %}
                                <option class="option-custom-income" id="option-category-advanced" name="option-category-advanced" value="{{ category.name }}" disabled>{{ category.logo }}&nbsp;&nbsp;{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Filters by date -->
                    <div class="input-group mb-3">
                        <label class="input-group-text">Date</label>
                        <input class="form-control" id="input-date" name="input-date" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                    <br>
                    <button class="btn btn-dark d-grid gap-2 col-7 mx-auto fw-semibold" id="button-submit" name="button-submit" type="submit">Filter</button>
                </div>
            </form>
        </div>

        <!-- Header cards -->
        <div class="container-fluid pt-2 pb-2" id="card" style="padding: 0% 15% 0% 15%;">
            <div class="row">

                <!-- Left header card -->
                <div class="col-xs-8 col-sm-10 col-md-12 col-lg-12 col-xl-4 col-xxl-4 mb-3" id="container-card" name="container-card-left">
                    <div class="card wrapper p-4" id="card-header" name="card-header-left">
                        <div>
                            <h4 class="card-title mb-2 fw-bold">Balance</h4>
                            <h2 class="card-subtitle mb-5 fw-bold">{{ currency_symbol }}{{ balance_total }}</h2>
                        </div>
                        <div style="flex-grow: 1;"></div>
                        <div>
                            <h5 class="card-subtitle mb-2 fw-semibold">{{ month_current }} cash-flows</h5>
                            <h6 class="card-subtitle mb-2 fw-bold" id="tag-expenses" name="tag-expenses"><b>-${{ expenses_current }} spent</b></h6>
                            <h6 class="card-subtitle mb-2 fw-bold" id="tag-income" name="tag-income" style="padding: 0% 0% 5% 0%;"><b>+${{ income_current }} earned</b></h6>
                            <div class="progress" id="progress" name="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-income" name="progress-income" role="progressbar" style="width: {{ income_relative }}%"></div>
                                <div class="progress-bar" id="progress-expenses" name="progress-expenses" role="progressbar" style="width: {{ expenses_relative }}%"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <!-- Middle header card -->
                <div class="col-xs-8 col-sm-10 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mb-3" id="container-card" name="container-card-middle">
                    <div class="card wrapper p-4" id="card-header" name="card-header-middle">
                        <div>
                            <h4 class="card-title fw-bold">Spendings</h4>
                            <h5 class="card-subtitle mb-2 fw-semibold text-muted">{{ month_current }}<small>, {{ currency_short }}</small></h5>
                        </div>
                        <div style="flex-grow: 1;"></div>
                        <div id="container" style="width: 75%; margin: auto;">
                            <canvas id="chart-expenses-current"></canvas>
                        </div>
                        <div style="flex-grow: 1;"></div>
                    </div>
                </div>

                <!-- Right header card -->
                <div class="col-xs-8 col-sm-10 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mb-3" id="container-card" name="container-card-right">
                    <div class="card wrapper p-4" id="card-header" name="card-header-right">
                        <div>
                            <h4 class="card-title fw-bold">Rewinding</h4>
                            <h5 class="card-subtitle mb-2 fw-semibold text-muted">Previous 6 months</h5>
                        </div>
                        <div style="flex-grow: 1;"></div>
                        <div id="container" style="width: 80%; margin: auto;">
                            <canvas id="chart-expenses-rewind"></canvas>
                        </div>
                        <div style="flex-grow: 1;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search & filter tags card -->
        <div class="modal position-static d-block" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg mt-2 mb-0">
                <div class="modal-content" id="modal-tags" name="modal-tags">
                    <div class="d-flex flex-row justify-content-end">
                        <button class="btn btn-dark btn-sm position-relative" id="button-clear" name="button-clear" type="button" style="display: none;" title="Clear all filters" onclick="location.href=''">
                            Tag
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Main card -->
        <div class="modal position-static d-block pb-5" tabindex="-1" role="dialog ">
            <div class="modal-dialog modal-lg mt-4">
                <div class="modal-content" id="modal-content" name="modal-content">
                    <div class="modal-header p-5 pb-0 border-bottom-0">
                        <h4 class="fw-bold mb-0" id="title-type" name="title-type">All transactions</h4>
                        <!-- <button type="button" class="btn-close" onclick="location.href='.'"></button> -->
                    </div>
                    <div class="modal-header p-5 pt-0 pb-0 border-bottom-0">
                        <h6 class="fw-semibold text-muted" id="subtitle-type" name="subtitle-type">Here are your budget entries.</h6>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3" id="container-scrolling" name="container-scrolling">
                            <!-- Adds date & count badge -->
                            <div class="list-group">
                            {% if entries|length == 0 %}
                                <br><br><br><h6 class="fw-semibold text-muted" style="text-align: center;">Hmm, there is nothing here.</h6><br><br><br>
                            {% else %}
                                {% for day, statistics in summary_daily.items %}
                                    <ul class="list-group list-group-flush">
                                        <small class="list-group-item d-flex justify-content-between" id="card-date" name="card-date">
                                            <span>{{ day }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="position-absolute top-50 translate-middle badge rounded-pill bg-danger">{{ statistics.0 }}</span></span>
                                            <span>{{ statistics.1 | floatformat:2 }} {{ currency_short }}</span>
                                        </small>
                                    </ul>
                                    <!-- Loads all entries for the corresponding date-->
                                    <div class="list-group">
                                    {% for entry in entries %}
                                        {% if entry.date == day %}
                                        <a class="list-group-item list-group-item-action" id="card-item" name="card-item" href="{% url 'edit' entry.id %}">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1 fw-normal">{{ entry.name }}</h6>
                                                {% if entry.TransactionType == "Expense" %}
                                                    <h6 class="mb-1 fw-semibold"><small class="fw-semibold">-</small>{{ entry.amount }} {{ currency_short }}</h6>
                                                {% elif entry.TransactionType == "Income" %}
                                                    <h6 class="mb-1 fw-semibold"><small class="fw-semibold">+</small>{{ entry.amount }} {{ currency_short }}</h6>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <small class="mb-1 fw-normal">{{ entry.category }}</small>
                                                <small class="mb-1 fw-light">{{ entry.type }}</small>
                                            </div>
                                            <small class="mb-1">{{ entry.note }}</small>
                                        </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <br>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>
                        <div class="wrapper-buttons pt-3">
                            <input class="btn btn-dark w-50" id="button-submit" name="button-submit" onclick="location.href='create'" type="submit" value="Create an entry" style="margin: 0% 0% 3% 0%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>


<!-- Scripts -->


<!-- Filters & searches transactions -->
<script>

    // Filters based on types query
    document.querySelectorAll('.option-type').forEach(item => {
        item.addEventListener('click', filterType)})
    function filterType(event) {
        const type_selected = event.target.name;
        document.getElementById('input-type').value = type_selected;
        // Remembers the types query was used
        sessionStorage.clear();
        sessionStorage.setItem('type_selected', type_selected);
        if (type_selected == "Expense") {
            sessionStorage.setItem('title_type', "Spendings");
        } 
        if (type_selected == "Income") {
            sessionStorage.setItem('title_type', "Earnings");
        }
        // Submits the form
        form = document.getElementById('finder-type');
        form.submit();
    }

    // Filters based on categories query
    document.querySelectorAll('.option-category').forEach(item => {
        item.addEventListener('click', filterCategory)})
    function filterCategory(event) {
        const category_selected = event.target.name;
        document.getElementById('input-category').value = category_selected;
        // Remembers the categories query was used
        sessionStorage.clear();
        sessionStorage.setItem('category_selected', category_selected);
        // Submits the form
        form = document.getElementById('finder-category');
        form.submit();
    }

    // Filters based on advanced type query
    document.getElementById('selection-type-advanced').addEventListener('change', function() {
        const type_selected = event.target.value;
        document.getElementById('input-type-advanced').value = type_selected;
        // Remembers the advanced type query was used
        sessionStorage.clear();
        sessionStorage.setItem('type_selected', type_selected);
    });

    // Filters based on advanced categories query
    document.getElementById('selection-category-advanced').addEventListener('change', function() {
        const category_selected = event.target.value;
        document.getElementById('input-category-advanced').value = category_selected;
        // Remembers the advanced categories query was used
        sessionStorage.clear();
        sessionStorage.setItem('category_selected', category_selected);
    });

    // Links the entry types to the category options in the advanced filter
    document.getElementById('selection-type-advanced').addEventListener('change', function() {
        if (event.target.value == "Expense") {
            document.getElementById('selection-category-advanced').value = "All";
            document.querySelectorAll('.option-custom-expense').forEach(option => {
                option.disabled = false;
            })
            document.querySelectorAll('.option-custom-income').forEach(option => {
                option.disabled = true;
            })
        }
        else if (event.target.value == "Income") {
            document.getElementById('selection-category-advanced').value = "All";
            document.querySelectorAll('.option-custom-expense').forEach(option => {
                option.disabled = true;
            })
            document.querySelectorAll('.option-custom-income').forEach(option => {
                option.disabled = false;
            })
        }
        else if (event.target.value == "All") {
            document.getElementById('selection-category-advanced').value = "All";
            document.querySelectorAll('.option-custom-expense').forEach(option => {
                option.disabled = true;
            })
            document.querySelectorAll('.option-custom-income').forEach(option => {
                option.disabled = true;
            })
        }
    });

    // Displays the date range picker
    $('#input-date').daterangepicker({
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
            "alwaysShowCalendars": true,
            "startDate": "01/01/2022",
            "endDate": "12/31/2022",
            "opens": "right",
            "applyButtonClasses": "btn-dark fw-semibold",
            "cancelClass": "btn-light fw-semibold"
        }, function(start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    });
    function getFirstDayOfMonth(year, month) {
        return new Date(year, month, 1);
    }

    // Updates the default date range automatically
    const date = new Date();
    const firstDay = getFirstDayOfMonth(
        date.getFullYear(),
        date.getMonth(),
    );
    const lastDay = new Date();
    lastDay.setDate(new Date().getDate());
    $('#input-date').data('daterangepicker').setStartDate(firstDay);
    $('#input-date').data('daterangepicker').setEndDate(lastDay);

    // Remembers the advanced date selection query was used
    function rememberDateQuery() {
        sessionStorage.clear();
        sessionStorage.setItem('date_selection', "1");
    }

    // Suggests basic keywords in the search bar
    var $input = $('.form-control-suggestions');
    $input.typeahead({
        source: [
            "Expense",
            "Income",
            "Dining",
            "Education",
            "Entertainment",
            "Groceries",
            "Housing",
            "Medical",
            "Miscellaneous",
            "Transportation",
            "Travel",
            "Utilities",
            "Additional",
            "Salary",
            "Savings"                
        ],
        autoSelect: true,
    });
    $input.change(function () {
        var item_selected = $input.typeahead('getActive');
        matches = [];
        if (item_selected) {
            if (item_selected.name == $input.val()) {
                matches.push(item_selected.name);
            }
        }
    });

    // Remembers the quick search query was used
    function rememberSearchQuery() {
        sessionStorage.clear();
        sessionStorage.setItem('quick_search', "1");
    }
</script>

<!-- Enables the clear button for search & filters and displays the custom title & subtitles -->
<script>
    document.addEventListener('DOMContentLoaded', function() {   
        // Checks for the custom titles & subtitles
        if (sessionStorage.getItem('title_type') === "Spendings") { 
            typesTitle = document.getElementById('title-type');
            typesSubtitle = document.getElementById('subtitle-type');
            typesTitle.childNodes[0].textContent = "Spendings";
            typesSubtitle.childNodes[0].textContent = "This is how you've spent your money.";
        }
        if (sessionStorage.getItem('title_type') === "Earnings") { 
            typesTitle = document.getElementById('title-type');
            typesSubtitle = document.getElementById('subtitle-type');
            typesTitle.childNodes[0].textContent = "Earnings";
            typesSubtitle.childNodes[0].textContent = "All your earnings, in one place.";
        }
        // Checks for the advanced type query
        if (sessionStorage.getItem('type_selected') !== null) { 
            clearButton = document.getElementById('button-clear');
            clearButton.childNodes[0].textContent = "Filter";
            clearButton.style.display = "block";  
        }
        // Checks for the type query
        if (sessionStorage.getItem('type_selected') !== null) {
            clearButton = document.getElementById('button-clear');
            clearButton.childNodes[0].textContent = "Filter";
            clearButton.style.display = "block";
        }
        // Checks for the category query
        if (sessionStorage.getItem('category_selected') !== null) {
            clearButton = document.getElementById('button-clear');
            clearButton.childNodes[0].textContent = "Filter";
            clearButton.style.display = "block";
        }
        // Checks for the advanced date selection query
        if (sessionStorage.getItem('date_selection') !== null) {
            clearButton = document.getElementById('button-clear');
            clearButton.childNodes[0].textContent = "Filter";
            clearButton.style.display = "block";
        }
        // Checks for the quick search query
        if (sessionStorage.getItem('quick_search') !== null) {
            clearButton = document.getElementById('button-clear');
            clearButton.childNodes[0].textContent = "Search";
            clearButton.style.display = "block";
        }
    });

    // Forgets the tag from the session storage when the 'transactions' button is clicked
    document.getElementById('button-transactions').addEventListener('click', function() {
        sessionStorage.clear();
        location.replace(".");
    });

    // Forgets the tag from the session storage when the clear button is clicked
    document.getElementById('button-clear').addEventListener('click', function() {
        sessionStorage.clear();
        location.replace(".");
    });

    // Forgets the tags from the session storage when the page is reloaded or the user navigates between pages
    document.addEventListener('DOMContentLoaded', function() {
        url = window.location.href;
        if (url.includes("?") === false) {
            sessionStorage.clear();
        }
        if (url.includes("#") === true) {
            sessionStorage.clear();
        }
    });
    document.addEventListener('hashchange', function() {
        url = window.location.href;
        if (url.includes("?") === false) {
            sessionStorage.clear();
        }
        if (url.includes("#") === true) {
            sessionStorage.clear();
        }
    });
    document.addEventListener('locationchange', function() {
        url = window.location.href;
        if (url.includes("?") === false) {
            sessionStorage.clear();
        }
        if (url.includes("#") === true) {
            sessionStorage.clear();
        }
    });
    document.addEventListener('popstate', function() {
        url = window.location.href;
        if (url.includes("?") === false) {
            sessionStorage.clear();
        }
        if (url.includes("#") === true) {
            sessionStorage.clear();
        }
    });
</script>

<!-- Displays the charts -->
<script>

    // Renders the chart for the current month's expenses
    const ctx1 = document.getElementById('chart-expenses-current');
    const currentLabels = [{% for label in labels_expenses_current %}"{{ label|safe }}",{% endfor %}];
    const currentValues = [{% for value in values_expenses_current %}"{{ value|safe }}",{% endfor %}];  
    const currentChart = new Chart(ctx1, {
        type: "doughnut",
        data: {
            labels: currentLabels,
            datasets: [{
                label: "My First Dataset",
                data: currentValues,
                backgroundColor: [                     
                    "#8EBDC3",
                    "#69A7AF",
                    "#43919B",
                    "#3C838C",
                    "#2F666D",
                    "#D9E9EB", 
                    "#B4D3D7",
                    "#22494E",
                    "#183337",
                    "#112527",
                ],                
                hoverOffset: 0
            }],
            responsive: true
        },
        maintainAspectRatio: false,
        options: {
            layout: {
                padding: 5
            },
            elements: {
                arc: {
                    borderWidth: 0.5,
                    borderColor: "#f5f5fa",
                    hoverBorderWidth: 0.5,
                    hoverBorderColor: "#f5f5fa",
                    borderAlign: "left",
                    spacing: 7
                },
            },
            plugins: {
                legend: {
                    display: false,
                    position: "top",
                    align: "start",
                    maxHeight: 75, 
                    rtl: true,
                    labels: {
                        padding: 10
                    }
                }
            }
        }
    });

    // Renders the chart for the last 6 months expenses & income
    const ctx2 = document.getElementById('chart-expenses-rewind');
    const previousLabels = [{% for label in labels_entries_previous %}"{{ label|safe }}",{% endfor %}];
    const previousExpensesValues = [{% for value in values_expenses_previous %}("{{ value|safe }}").replace(",", ""),{% endfor %}];
    const previousIncomeValues = [{% for value in values_income_previous %}("{{ value|safe }}").replace(",", ""),{% endfor %}];
    const rewindChart = new Chart(ctx2, {
        type: "bar",
        data: {
            labels: previousLabels,
            datasets: [
                    {
                        label: "Expenses",
                        data: previousExpensesValues,
                        backgroundColor: '#43919B',
                        borderRadius: 3,
                        categoryPercentage: 0.5,
                        barPercentage: 1,
                    },
                    {
                        label: "Income",
                        data: previousIncomeValues,
                        backgroundColor: "#99C4C8",
                        borderRadius: 3,
                        categoryPercentage: 0.5,
                        barPercentage: 1
                    }
            ]
        },
        options: {
            responsive: true,
            aspectRatio: 0.9,
            indexAxis: "y",
            plugins: {
                legend: {
                    display: false,
                    position: "top",
                    align: "end"
                }
            },
            scales: {
                x: {
                    type: "logarithmic",
                    grid: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        display: false,
                    },
                },
                y: {
                    grid: {
                        display: false,
                        drawBorder: false,
                    },
                    ticks: {
                        display: true,
                    }
                }
            }
        }
    });
    
    // Replaces the charts with messages if no entries are available
    const currentExpenses = "{{ expenses_current|safe }}";
    const currentIncome = "{{ income_current|safe }}";
    if (currentExpenses == "0" && currentIncome == "0") {
        const leftChart = document.getElementById('progress');
        const leftMessage = document.createElement('message-left');
        leftMessage.innerHTML = '<h6 class="card-subtitle mb-2 fw-semibold text-muted">No entries for the current month.</h6>';
        leftChart.replaceWith(leftMessage);
        const expensesTag = document.getElementById('tag-expenses');
        const incomeTag = document.getElementById('tag-income');
        expensesTag.textContent = "No spendings";
        incomeTag.textContent = "No earnings";
    }
    if (currentExpenses == 0 || currentExpenses == "") {
        const middleChart = document.getElementById('chart-expenses-current');
        const middleMessage = document.createElement('message-middle');
        middleMessage.innerHTML = '<br><br><br><br><br><h6 class="fw-semibold text-muted" style="text-align: center;">No purchases yet.</h6><br><br><br><br><br>';
        middleChart.replaceWith(middleMessage);
    }
    if (previousExpensesValues == "0,0,0,0,0,0" && previousIncomeValues == "0,0,0,0,0,0") {
        const rightChart = document.getElementById('chart-expenses-rewind');
        const rightMessage = document.createElement('message-right');
        rightMessage.innerHTML = '<br><br><br><br><br><h6 class="fw-semibold text-muted" style="text-align: center;">Nothing to see here.</h6><br><br><br><br><br>';
        rightChart.replaceWith(rightMessage);
    }
</script>

{% endblock %} 