{% extends "base.html" %}
{% block title %}
    Delete Entry — Budget
{% endblock %}
{% block content %}

<body id="page-main">
    
    <!-- Header -->
    <header class="py-3 mb-3" id="header" name="header">
        <div class="container">
            <div class="d-flex align-items-center">
                <!-- Filters & tags dropdowns -->
                <ul class="nav col-4 ms-1 me-auto">
                        
                    <!-- Entry types dropdown -->
                    <div class="button" id="dropdown-types" name="dropdown-types" style="opacity: 50%; pointer-events:none">
                        <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-types" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="23" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/>
                            </svg>
                        </a>
                    </div>

                    <!-- Entry categories dropdown -->
                    <div class="button" id="dropdown-categories" name="dropdown-categories" style="opacity: 50%; pointer-events:none">
                        <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-categories" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="23" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
                            </svg>
                        </a>     
                    </div>
                    
                    <!-- Advanced filter menu -->
                    <div class="button" id="show-finder" name="show-finder" data-bs-toggle="window-finder" data-bs-target="#window-finder" style="opacity: 50%; pointer-events:none"> 
                        <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-filter" href="#" data-bs-toggle="offcanvas" data-bs-target="#window-finder" aria-expanded="false">
                            <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="22" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                            </svg>
                        </a>
                    </div>
                </ul>

                <!-- Search bar -->
                <form class="nav col-6 col-lg-4 me-3" id="search-bar" name="search-bar" method="GET" action="." role="search" style="opacity: 50%; pointer-events:none">
                    <input class="form-control form-control-suggestions" id="input-search" name="input-search" type="search" data-provide="typeahead" placeholder="Search" aria-label="Search" disabled>
                </form>

                <!-- Settings dropdown -->
                <div class="nav col-auto">
                    <a class="align-items-center link-secondary text-decoration-none" id="button-header" name="button-settings" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="opacity: 50%; pointer-events:none">
                        <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="38" height="22" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Main content of the page -->
    <main role="main">
        
        <!-- Modal -->
        <div class="modal fade" id="modal-alert" name="modal-alert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" id="modal-message" name="modal-message">
                    <div class="modal-header">
                        <h6 class="modal-title">Are you sure you want to delete this item?</h6>
                    </div>
                    <div class="modal-body">
                        <small>This budget entry will be permanently removed.</small>
                    </div>
                    <form action="{% url 'delete' id %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-light fw-semibold" type="button" href="{% url 'edit' id %}">Cancel</a>&nbsp;
                            <input class="btn btn-sm btn-danger dw-semibold" id="button-delete" name="button-delete" type="submit" value="Delete"/>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </main>
</body>


<!-- Scripts -->


<!-- Loads automatically the modal -->
<script>
    $(document).ready(function(){
        $("#modal-alert").modal('show');
    });
</script>

{% endblock %}