{% extends "base.html" %}
{% block title %}
    Log In — Budget
{% endblock %}
{% block content %}

<body id="page-landing">
    
    <!-- Main content of the page -->
    <main role="main">
        
        <!-- Modal -->
        <div class="modal position-static d-block pt-3 pb-5" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" id="modal-content" name="modal-content">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h2 class="fw-bold mb-0">Log in to Budgeter</h2>
                    </div>
                    <div class="modal-body p-5 pt-0">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-floating" id="input-username" name="input-username">
                                {{ form.username }}
                                <label for="input-username">Username</label>
                            </div>
                            <br>
                            <div class="form-floating" id="input-password" name="input-password1">
                                {{ form.password }}
                                <label for="input-password">Password</label>
                            </div>
                            <br>
                            <div class="wrapper-buttons">
                                <input class="btn btn-dark btn-lg w-100" id="button-submit" name="button-submit" type="submit" value="Log In" style="margin: 3% 0% 2% 0%;"/>
                            </div>
                            <hr class="my-4">
                            <h2 class="fs-5 fw-bold">Don't have an account?</h2>
                            <small class="text-muted">Sign up today & start budgeting.</small>
                            <div class="wrapper-buttons">
                                <a class="btn btn-secondary w-100" id="button-submit" name="button-submit" type="button" href="/signup" style="margin: 5% 0% 0% 0%;">Sign Up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

{% endblock %}